# top-most EditorConfig file
root = true

# For all JS/TS under src directory
[/**.{js,ts,jsx,tsx}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true